$width: 375px;

.card {
  width: 100%;

  @media screen and (min-width: $width) {
    width: 18rem;
  }
}

.feature {
  display: inline-block;
  width: 4.5rem;
  margin-right: 0.25rem;

  @media screen and (min-width: $width) {
    width: 5rem;
    margin-right: 0.5rem;
  }
}
