.wrapper {
  display: flex;
  column-gap: 1.5rem;
  margin-bottom: 1rem;

  @media (hover: hover) {
    &:hover .icon {
      animation: blink infinite linear 0.8s;
    }
  }
}

.icon {
  display: flex;
  padding-top: 0.25em;
  color: var(--bs-secondary);
}

.link {
  text-decoration: none;
}

@keyframes blink {
  0% {
    color: var(--bs-primary);
  }
  70% {
    color: var(--bs-primary);
  }
  71% {
    color: transparent;
  }
}
