.list {
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;

  @media (min-width: 768px) {
    flex-direction: row;
  }
}

.listItem {
  display: flex;
  align-items: center;
}

.divider {
  color: var(--bs-gray);
}

.link {
  padding: 0.25rem;
  text-decoration: none;
  color: var(--bs-gray-500);
  transition: color 0.15s ease-in-out;

  @media (hover: hover) {
    &:hover {
      color: var(--bs-primary);
    }
  }
}

span.link:hover {
  color: var(--bs-gray-500);
}
