.wrapper {
  @media screen and (min-width: 375px) {
    width: 18rem;
  }
}

.code {
  height: 6rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  color: var(--bs-primary);
  background-color: rgba(var(--bs-secondary-bg-rgb), 1) !important;

  pre {
    margin-bottom: 0;
  }
}
