@font-face {
  font-family: 'Unbounded';
  src: url('./../../../../public/fonts/subset-Unbounded-Regular.woff2')
      format('woff2'),
    url('./../../../../public/fonts/subset-Unbounded-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Unbounded';
  src: url('./../../../../public/fonts/subset-Unbounded-Bold.woff2')
      format('woff2'),
    url('./../../../../public/fonts/subset-Unbounded-Bold.woff')
      format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
