$primary: #ffc107;
$enable-negative-margins: true;

a:hover {
  color: $primary;
}

.nav-link.active:not(.dropdown) {
  color: $primary !important;
}

pre {
  font-size: 0.925rem !important;
}

@import '~bootstrap/scss/bootstrap';
